.catalog
    padding-top: 100px
    @media (max-width:768px)
        padding-top: 60px
    @media (max-width:470px)
        padding-top: 132px

    h2
        margin-bottom: 80px
        @media (max-width:768px)
            margin-bottom: 26px
        @media (max-width: 541px) and (min-width: 361px)
            text-align: center
        @media (max-width:470px)
            margin-bottom: 20px
            text-align: start
    .cards
        display: flex
        flex-wrap: wrap
        justify-content: center
        gap: 36px
        @media (max-width:1055px)
            gap: 25px
        @media (max-width:925px)
            gap: 23px
        @media (max-width: 843px)
            gap: 20px
        @media (max-width:768px)
        @media (max-width: 552px) and (min-width: 542px)
            gap: 10px
        .card
            width: 580px
            height: 280px
            background-size: cover
            background-repeat: no-repeat
            border-radius: 25px
            padding: 50px 40px
            display: flex
            align-items: end
            cursor: pointer
            @media (max-width:1200px)
                width: 440px
                height: 250px
            @media (max-width:1055px)
                width: 380px
                height: 200px
                padding: 29px 29px
            @media (max-width:925px)
                width: 340px
                height: 180px
                padding: 27px 25px
                border-radius: 20px
            @media (max-width: 843px)
                width: 320px
                height: 165px
                padding: 26px 23px
                border-radius: 18.103px
            @media (max-width:799px)
                width: 310px
                height: 160px
            @media (max-width:779px)
                width: 304px
                height: 147px
                padding: 25px 20px
                border-radius: 13.103px
            @media (max-width: 660px) and (min-width: 542px)
                width: 250px
                height: 130px
                border-radius: 10px
            @media (max-width:470px)
                width: 328px
                height: 156px
            &:hover
                transform: scale(1.03)
                transition: .4s
            &-inner
                display: flex
                justify-content: space-between
                align-items: center
                width: 100%
                h3
                    color: #FFF
                    font-family: "Gotham Pro",sans-serif
                    font-size: 32px
                    font-style: normal
                    font-weight: 400
                    line-height: 30px
                    width: 90%
                    @media (max-width:1055px)
                        font-size: 25px
                        line-height: 24px
                    @media (max-width:779px)
                        font-size: 20px
                        line-height: 20.628px
                    @media (max-width: 660px) and (min-width: 542px)
                        font-size: 18px
                    @media (max-width:470px)
                        font-size: 16px
                        line-height: 14.703px
                img
                    @media (max-width:1055px)
                        width: 20px
                    @media (max-width:779px)
                        width: 15px

        .duble-card
            width: 580px
            height: 280px
            display: flex
            justify-content: space-between
            @media (max-width:1200px)
                width: 440px
                height: 250px
            @media (max-width:1055px)
                width: 380px
                height: 200px
            @media (max-width:925px)
                width: 340px
                height: 180px
            @media (max-width: 843px)
                width: 320px
                height: 165px
            @media (max-width:799px)
                width: 310px
                height: 160px
            @media (max-width:779px)
                width: 304px
                height: 147px
            @media (max-width: 660px) and (min-width: 542px)
                width: 250px
                height: 130px
            @media (max-width:470px)
                width: 328px
                height: 156px
            .card
                width: 271px
                height: 100%
                padding: 28px 24px
                @media (max-width:1200px)
                    width: 200px
                    border-radius: 20px
                @media (max-width:1055px)
                    width: 178px
                    border-radius: 19px
                @media (max-width:925px)
                    width: 160px
                    border-radius: 16px
                    padding: 20px 18px
                @media (max-width: 843px)
                    width: 150px
                    border-radius: 14px
                @media (max-width:799px)
                    width: 144px
                @media (max-width:779px)
                    border-radius: 13.1px
                    width: 142px
                @media (max-width: 660px) and (min-width: 542px)
                    width: 115px
                    height: 130px
                    padding: 18px 12px
                @media (max-width: 552px) and (min-width: 542px)
                    width: 120px
                    border-radius: 8px
                @media (max-width:470px)
                    width: 158px
                    padding: 15px 14px
                h3
                    @media (max-width:1130px)
                        font-size: 28px
                    @media (max-width:925px)
                        font-size: 24px
                    @media (max-width:799px)
                        font-size: 22px
                    @media (max-width:660px)
                        font-size: 18px
                img
                    @media (max-width:1130px)
                        width: 22px
                    @media (max-width:1055px)
                        width: 20px
                    @media (max-width:925px)
                        width: 18px
                    @media (max-width:799px)
                        width: 16px
                    @media (max-width:779px)
                        width: 15px
                    @media (max-width:660px)
                        font-size: 13px
